<mat-toolbar color="primary" mat-elevation-z6>
    <span><mat-icon>eco</mat-icon> My Application</span>

    <div class="spacer"></div>

    <a mat-button routerLink="/viewStocks" routerLinkActive="active" ariaCurrentWhenActive="page">ViewStocks</a>
    <a mat-button routerLink="/modifyStocks" routerLinkActive="active" ariaCurrentWhenActive="page">ModifyStocks</a>
    <a mat-raised-button routerLink="/dashBoard" routerLinkActive="active" ariaCurrentWhenActive="page" color="accent">logout</a>
</mat-toolbar>