<div class="vh-100 vw-100 d-flex justify-content-center align-items-center"
    style="position: fixed; top:0px; right:0px;z-index: 10;background-color: rgb(221,221,221);">
    <form #loginForm="ngForm" class="d-flex flex-column shadow-lg m-5 p-5 rounded bg-light">
        <h1 class="text text-center text-primary">LogIn

            <div class="d-flex">
                <div class="m-2"><mat-icon>g_translate</mat-icon></div>
                <div class="m-2"><mat-icon>highlight</mat-icon></div>
            </div>

        </h1>
        <mat-form-field class="form-group m-3">
            <mat-label>Username</mat-label>
            <input matInput type="text" id="username" name="loginId" [(ngModel)]="loginId" required>
        </mat-form-field>
        <mat-form-field class="form-group m-3">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" name="password" [(ngModel)]="password"
                [type]="hide ? 'password' : 'text'" required>

            <button mat-icon-button matSuffix (click)="changeVisibility()">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

        </mat-form-field>
        <button (click)="onSubmit()" class="btn btn-primary btn-block">Login</button>
    </form>

    <h4> Create Free Account ?<a routerLink="" (click)="makeSignup()"> Register</a> With shopspark</h4>
</div>