<!-- <div class="container-fluid m-0 p-0">
    <div class="header bg-dark" style="padding-left: 6%;">
        <app-header></app-header>
    </div>

    <app-sidenav class="bg-danger"></app-sidenav>
    <div class="main" class="bg-success">
        <app-body></app-body> <!--[collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"-->
<!-- </div> -->
<!-- </div> -->

<!--8 </div> -->

<!-- 5<div class="main-container"> -->
<!-- 6<div class="side-nav"> -->
<!--13 </div> -->

<section class="container-fluid vh-100 vw-100 m-0 p-0">
    <mat-grid-list cols="17" rowHeight="10%" gutterSize="0px">

        <mat-grid-tile  colspan="1" rowspan="10" style="background: lightgreen;">
            <div class="w-100 h-100 m-0 p-0 bg-light">
                <app-sidenav></app-sidenav>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="16" rowspan="1" style="background: lightblue;">
            <div class="w-100 h-100 m-0 p-0 bg-light">
                <app-header></app-header>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="16" rowspan="9" style="background: lightpink; vertical-align: top;">
        <div class="h-100 w-100 m-0 p-0 overflow-scroll" style="background-color: rgb(211, 211, 211)">
            <app-body></app-body>
        </div>
        </mat-grid-tile>

    </mat-grid-list>
</section>

<router-outlet></router-outlet>